extends layout
block content
    h1= title
    h2 #{author.fullName} (#{author.dateOfBirthFormatted} - #{author.dateOfDeath ? author.dateOfDeathFormatted : ''})
    h3 Books
    ul
        each book in books
            li
                a(href=book.url) #{book.title}
                p= book.summary