extend layout

block content
    h1= title

    div.list-group
        each author in authorList
            a(href=author.url, class="list-group-item")
                strong= author.fullName
                span  (#{author.dateOfBirthFormatted} - #{author.dateOfDeath ? author.dateOfDeathFormatted : ''})
        else
            div.list-group-item There are no authors