extends layout
block content
    h1= title
    h2 #{author.fullName} (#{author.dateOfBirthFormatted} - #{author.dateOfDeath ? author.dateOfDeathFormatted : ''})
    h3 Books
    div.list-group
        each book in books
            a(href=book.url, class="list-group-item") 
                h3 #{book.title}
                p= book.summary