extends layout

block content
    h1= title
    div.list-group
        each bookInstance in bookInstanceList
            a(href=bookInstance.url, class="list-group-item") 
                strong #{bookInstance.book.title} #{bookInstance.imprint} - 
                if bookInstance.status == "Available"
                    span.label.label-success #{bookInstance.status}
                else if bookInstance.status == "Maintenance"
                    span.label.label-danger #{bookInstance.status}
                else
                    span.label.label-warning  #{bookInstance.status}
                if bookInstance.status != "Available"
                    span  (Due: #{bookInstance.due_back_formatted})
        else
            li There are no books available
