extends layout

block content
    h1= title
    h2= genre.name
    h3 Books
    div.list-group
        each book in genreBookList
            a(href=book.url, class="list-group-item") 
                h3 #{book.title}
                p= book.summary